<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0;">
<section style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; padding: 0 20px;">
    <img src="https://cdn-images-1.medium.com/max/1600/1*DFcaAvca6kvNa-6EYMYYdA.png" alt="low-carb-logo" width="226" height="58" style="margin-bottom: 50px;"/>
    <p style="font: Arial, sans-serif;">It's an skill for Reddit that allows you to listen to your feed.</p>
</section>
</body>
</html>
