<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0;">
<section style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; padding: 0 20px;">
    <img src="https://www.lowcarbprogram.com/assets/lcp_logo.png" alt="low-carb-logo" width="226" height="38" style="margin-bottom: 50px;"/>
    <p style="font: Arial, sans-serif;">You will be redirected to a Auth0 service to authenticate you with your existing <span style="color: #19A3FF">Low Carb Program </span> account.</p>
    <div style="margin: 50px 0">
        <a href=<%= authLink %> style="background-color: #19A3FF; padding: 14px 40px; border-radius: 22px; color: #fff; text-transform: uppercase; text-decoration: none; font-family: Arial, sans-serif; font-size: 16px;">Get Started</a>
    </div>
</section>
</body>
</html>
