<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0;">
<style>
    p {
        max-width: 350px
    }

    h3 {
        max-width: 300px
    }
</style>

<section
        style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; width: 100%; padding: auto;">

    <!--<img src="https://cdn-images-1.medium.com/max/1600/1*DFcaAvca6kvNa-6EYMYYdA.png" alt="reddit-skill-logo" width="226" height="68" style="margin-bottom: 30px; margin-top: 20px;"/>-->
    <h1>Privacy Policy</h1>
    <p>Last updated: 3/5/2019</p>
    <p>Onix Systems ("us", "we", or "our") operates News reader for Reddit (the
        "Skill"). This page informs you of our policies regarding the collection, use and disclosure of
        Personal Information we receive from users of the Skill.</p>
    <p>We use your Personal Information only for providing and improving the Skill. By using the Skill, you
        agree to the collection and use of information in accordance with this policy.</p>
    <h3>Information Collection And Use</h3>
    <p>While using our Skill, we may or not ask you to provide us with certain personally identifiable information
        that can be used to contact or identify you. Personally identifiable information may include, but is not
        limited to your name ("Personal Information").</p>
    <h3>Log Data</h3>
    <p>Like many skill operators, we collect information that your Alexa enabled sends whenever you visit our Skill
        ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address,
        device name and versions, the intents of our Skill that you visit, the time and date of your visit,
        the time spent on those intents and other statistics. In addition, we may use third party services such as
        Google Analytics that collect, monitor and
        analyze this … The Log Data section is for businesses that use analytics or tracking services in websites or
        apps, like Google Analytics.</p>
    <h3>Security</h3>
    <p>The security of your Personal Information is important to us, but remember that no method of
        transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to
        use commercially acceptable means to protect your Personal Information, we cannot guarantee its
        absolute security.</p>
    <h3>Changes To This Privacy Policy</h3>
    <p>This Privacy Policy is effective as of (add 3/5/2019) and will remain in effect except with respect to any
        changes in its provisions in the future, which will be in effect immediately after being posted on this
        page. We reserve the right to update or change our Privacy Policy at any time and you should check this
        Privacy Policy periodically. Your continued use of the Service after we post any modifications to the
        Privacy Policy on this page will constitute your acknowledgment of the modifications and your
        consent to abide and be bound by the modified Privacy Policy.</p>
    <h3>Contact Us</h3>
    <p>If you have any questions about this Privacy Policy, please contact us here: onix.iot@gmail.com</p>
</section>
</body>
</html>
