<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0;">
<style>
    p {
        max-width: 350px
    }

    h3 {
        max-width: 300px
    }
</style>

<section
        style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; width: 100%; padding: auto;">
    
    <h1>General</h1>
    <p>Last updated: 3/5/2019</p>
    <p>This Terms of Use are an agreement between you (the „user”)  and Onix Systems ("us", "we", or "our").  
        Before using any of our Alexa/Google Skills (“our skills”), please read this agreement and our <a href="/reddit-policy/">Alexa Skills Privacy Policy</a>
        as well as the <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=201809740">Alexa Terms of Use</a> by the Amazon Digital Services LLC (with its affiliates, “Amazon”).</p>
    <h3>Disclaimer</h3>
    <p>Our skills or parts of it may discontinue at any time or might contain errors. You use our skills on your own responsibility. Any information should not be seen as an advice.</p>
    <h3>Contact Us</h3>
    <p>If you have any questions about this Terms of Use, please contact us here: onix.iot@gmail.com</p>
</section>
</body>
</html>
